<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NodeChat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <!-- Header -->
    <div class="container-fluid bg-dark mb-5">
        <div class="row row-cols-2 p-3">
            <div class="col-2">
                <a href="/chatList" class="text-decoration-none text-light">Chat</a>
            </div>
            <div class="col-2">
                <a href="/history/list" class="text-decoration-none text-light">Historial</a>
            </div>
            <div class="col d-flex justify-content-end">
                <a href="/logout" class="text-decoration-none text-light">Log Out</a>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="container">
        <h2 class="text-center mb-5">Selecciona la sala de chat</h2>
        <form method="post" action="/chatView">
            <div class="btn-group-vertical d-flex justify-content-center m-5" role="group" id="select">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value='1' autocomplete="off">
                <label class="btn btn-outline-primary mb-3" for="btnradio1">Sala 1</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value='2' autocomplete="off">
                <label class="btn btn-outline-primary mb-3" for="btnradio2">Sala 2</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" value='3' autocomplete="off">
                <label class="btn btn-outline-primary mb-3" for="btnradio3">Sala 3</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" value='4' autocomplete="off">
                <label class="btn btn-outline-primary mb-3" for="btnradio3">Sala 4</label>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary px-5">Entrar</button>
            </div>
        </form>        
    </div>
</body>

</html>