<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NodeChat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script type="text/javascript" src="javascript/chat.js"></script>
    <script type="text/javascript" src='/socket.io/socket.io.min.js'></script>
</head>

<body>
    <!-- Header -->
    <div class="container-fluid bg-dark mb-5">
        <div class="row row-cols-2 p-3">
            <div class="col-2">
                <a href="/chatList" class="text-decoration-none text-light">Chat</a>
            </div>
            <div class="col-2">
                <a href="/history/list" class="text-decoration-none text-light">Historial</a>
            </div>
            <div class="col d-flex justify-content-end">
                <a href="/logout" class="text-decoration-none text-light">Log Out</a>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="container">
        <h3 class="mb-5" id='room'>Sala Chat</h3>
        <form action="" method="post" id="send">
            <div class="row">
                <div class="col-10">
                    <div class="form-floating">
                        <textarea id="chatText" style="height: 400px;" class="form-control mb-5" disabled></textarea>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-floating">
                        <textarea id="userConnected" style="height: 400px;" class="form-control mb-5" disabled></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <input type="text" class="form-control" id="userMessage" placeholder="Escribe tu mensaje aqui" name="userMessage">
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary px-4">Enviar</button>
                </div>
            </div>
        </form>
        input(type="hidden", value=username, id='username')
        input(type="hidden", value=sala, id='sala')
    </div>
</body>

</html>