<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NodeChat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <!-- Header -->
    <div class="container-fluid bg-dark mb-5">
        <div class="row row-cols-2 p-3">
            <div class="col-2">
                <a href="/chatList" class="text-decoration-none text-light">Chat</a>
            </div>
            <div class="col-2">
                <a href="/history/list" class="text-decoration-none text-light">Historial</a>
            </div>
            <div class="col d-flex justify-content-end">
                <a href="/logout" class="text-decoration-none text-light">Log Out</a>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="container">
        <h3 class="mb-5">Historial</h3>
        <form action="/history/view" method="post">
            <div class="row">
                <div class="col-4">
                    <select class="form-select" aria-label="Default select example" name='room'>
                        <option selected>Selecciona Sala</option>
                        <option value="1">Sala 1</option>
                        <option value="2">Sala 2</option>
                        <option value="3">Sala 3</option>
                        <option value="4">Sala 4</option>
                    </select>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Ver historial</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>