<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NodeChat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <!-- Header -->
    <div class="container-fluid bg-dark mb-5">
        <div class="p-4"></div>
    </div>
    <!-- Content -->
    <div class="container justify-content-center">
        <h2 class="text-center mb-5">Node Chat</h3>
            <form method="post" action="/user/register">
                <label for="1" class="form-label fw-bold text-muted">Username:</label>
                <input type="text" class="form-control mb-4" id="1" placeholder="Enter your username" name="username">
                <label for="2" class="form-label fw-bold text-muted">Password:</label>
                <input type="password" class="form-control mb-5" id="2" placeholder="Enter your password" name="password">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
    </div>
</body>

</html>